.slide{
	display: none;
	outline: none;
}
.slide:first-child{
	display: block;
}
.slide.slick-slide{
	display: block;
}
.slick-dots li button:before{
	content:''!important;
}
ul li.slick-active:before, ol li.slick-active:before{
	font-size: 20px;
}
.slide a{
	display: block;
}
.slide img{
	width: 100%;
	max-width: 1600px;
	margin: auto;
}
/*ul.slick-dots{
	bottom: 5px;
}*/
#main-slider .slick-prev, #main-slider.slick-next{
	z-index: 1;
}
#main-slider .slick-prev{
	left: 15px;
}
#main-slider .slick-next{
	right: 15px;
}
#main-slider .slick-prev:before, #main-slider .slick-next:before{
	color: #332e85;
	font-size: 26px;
}