.slide{
	display: none;
	outline: none;
}
.slide:first-child{
	display: block;
}
.slide.slick-slide{
	display: block;
}
.slick-dots li button:before{
	content:''!important;
}
ul li.slick-active:before, ol li.slick-active:before{
	font-size: 20px;
}
.slide a{
	display: block;
}
.slide img{
	width: 100%;
	max-width: 1600px;
	margin: auto;
}
/*ul.slick-dots{
	bottom: 5px;
}*/
#main-slider .slick-prev, #main-slider.slick-next{
	z-index: 1;
}
#main-slider .slick-prev{
	left: 15px;
}
#main-slider .slick-next{
	right: 45px;
}
#main-slider .slick-prev:before, #main-slider .slick-next:before{
	color: #393185;
	font-size: 55px;
	opacity: 1 !important;
}
.slider-cat__box {
	padding: 10px 0 0 0;
	position: relative;
}
.slider-cat-box__img {
	width: 100%;
}
#main-slider {
	height: 478px;
	margin-top: 10px;
	padding: unset !important;
}
.slick-dots {
	bottom: 25px !important;
}
.cat-box__text {
	position: absolute;
	bottom: 20px;
	z-index: 2;
	color: #fff;
	left: 20px;
	width: 80%;
}

.slide img {
	height: 478px !important;
	object-fit: cover;
}
@media (max-width: 992px) {
	.slider-cat__box {
		padding: 10px;
	}
	.unpad {
		padding: unset !important;
	}
	#main-slider, .slide img {
		height: 240px !important;
	}
}
.box-text__heading {
	font-size: 19px;
	font-weight: 700;
	margin-top: 5px;
}
.box-text__name {
	font-size: 12px;
	background-color: #332e85;
	padding: 2px 10px;
	font-weight: 900;
}
.text__section {
	position: absolute;
    z-index: 200;
    font-weight: 600;
    color: #fff;
    top: 50%;
    left: 42%;
    width: 15%;
    font-size: 22px;
}