/*Menu icon*/
.rbs_credit_menu_icon {background:url(icons/rbs.credit/menu_icon.png) no-repeat center center; background-size: 17px;}
.rbs_credit_page_icon {background:url(icons/rbs.credit/menu_icon.png) no-repeat center center; background-size: 17px;}