.la-line-scale,
#nav .nav-list a.active,
#nav .nav-list a:hover,
.main-color {color: #393185;}
.main-color1 {color: #fff; }
.main-color3 {color: #fff; }
.main-color4 {color: #fff; font: 700 58px/60px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.main-bg-color {background-color: #393185; }
.main-bg-color2 {background-color: #f70808; }
.main-border-color {border-color: #393185; }