body,html{padding:0;margin:0;font-family:'Open Sans',sans-serif;font-size:18px}@media screen and (max-width:767px){body,html{font-size:14px}}@media screen and (max-width:475px){body,html{font-size:12px}}.relative{position:relative}section{display:flex;flex-direction:column;justify-content:center}.flex-container{width:1280px;max-width:100%;margin:auto;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}@media screen and (max-width:1279px){.flex-container{width:100%}}.flex-row{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;-o-flex-direction:row;flex-direction:row}@media screen and (max-width:767px){.flex-row.responsive{-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column}}.flex-rr{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-direction:row-reverse;-moz-flex-direction:row-reverse;-ms-flex-direction:row-reverse;-o-flex-direction:row-reverse;flex-direction:row-reverse}@media screen and (max-width:767px){.flex-rr.responsive{-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column}}.flex-column{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column}@media screen and (max-width:767px){.flex-column.responsive{-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;-o-flex-direction:row;flex-direction:row}}.flex-cr{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-direction:column-reverse;-moz-flex-direction:column-reverse;-ms-flex-direction:column-reverse;-o-flex-direction:column-reverse;flex-direction:column-reverse}@media screen and (max-width:767px){.flex-cr.responsive{-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;-o-flex-direction:row;flex-direction:row}}.fullscreen{width:100%!important}.vh100{height:100vh}.ai-fs{-ms-align-items:flex-start;align-items:flex-start}.ai-fe{-ms-align-items:flex-end;align-items:flex-end}.ai-c{-ms-align-items:center;align-items:center}.ai-b{-ms-align-items:baseline;align-items:baseline}.ai-s{-ms-align-items:stretch;align-items:stretch}.jc-fs{justify-content:flex-start}.jc-fe{justify-content:flex-end}.jc-c{justify-content:center}.jc-sa{justify-content:space-around}.jc-sb{justify-content:space-between}.jc-se{justify-content:space-evenly}.fxw-w{-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap}.fxw-n{-webkit-flex-wrap:nowrap;-moz-flex-wrap:nowrap;-ms-flex-wrap:nowrap;-o-flex-wrap:nowrap;flex-wrap:nowrap}
.header, .skip-question{
	flex: 100% 0 0;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #bbb;
}
.conf-row{
	border: 1px solid #3a2f88;
	border-radius: 5px;
	background: #3a2f88;
	padding: 10px;
	margin: 10px auto;
	transition: .5s;
	width: 700px;
	max-width: 100%;
	display: none;
}
.conf-row.active, .conf-row.selected{
	background: #3a2f88;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.conf-row.selected{
	opacity: .5;
}
.conf-row.active .header, .conf-row.selected .item, .conf-row .skip-question p{
	color: #fff;
	font-weight: bold;
}
.conf-row .item{
	display: inline-block;
	text-align: center;
	margin: 0 12px 24px;
	padding: 14px 15px;
	width: 140px;
	height: 144px;
	background: white;
	border: 1px solid #3a2f88;
	box-sizing: border-box;
	box-shadow: 0px 1px 3px rgba(85, 85, 85, 0.16);
	border-radius: 5px;
	vertical-align: top;
	cursor: pointer;
}
.conf-row .item:hover{
	border: 2px solid #6259a0;
}
.conf-row p, #conf_menu{
	font-size: 14px;
	line-height: 1.2;
}
.conf-row .skip-question p{
	cursor: pointer;
	font-weight: 600;
}
.conf-row .skip-question p:hover{
	color: #fafafa;
}
a.again{
	color: #fff;
}
#conf_menu li{
	list-style-type: none;
	padding: 0 13px 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
}
#conf_menu li.active-stage{
	font-weight: 600;
	color: #3E338F;
	padding-bottom: 9px;
	border-bottom: 2px solid #3E338F;
}
#conf_menu li::before{
	display: none;
}
#ajax-uploader{
	margin: 20px auto;
}