@font-face {
    font-family: Calibri;
    src: url(/bitrix/templates/aspro_next/vendor/fonts/Colibri.ttf);
    src: url(/bitrix/templates/aspro_next/vendor/fonts/Colibri.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.fill_bg_n .menu-row.bgcolored, .fill_bg_y .menu-row.bgcolored > .maxwidth-theme {
    background-color: #ececec
}

.menu-row.middle-block:not(.bglight) .mega-menu table td .wrap > a {
    color: #222
}

.menu-row.middle-block:not(.bglight) .wrap_icon .svg svg path, .menu-row.middle-block:not(.bglight) .wrap_icon .svg:hover svg path {
    fill: #222
}

.select-price-cart {
    color: #9e1414;
    margin-left: 20px;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease
}

.select-price-cart::before {
    font-family: FontAwesome, sans-sarif;
    content: '\f217';
    font-size: 25px
}

.select-price-cart:hover {
    color: #555
}

.svg .cls-1, .svg .comcls-1, .svg .loccls-1, .svg .uscls-1, .svg .whcls-1 {
    fill: #e42324 !important
}

.basket-link:not(.basket-count) .svg {
    opacity: 1
}

.slogan {
    margin: 0;
    color: #e42324;
    font-weight: 600
}

.feedback {
    position: relative;
    text-align: center
}

.feedback::before {
    position: relative;
    right: 20px;
    content: ' ';
    border-left: 1px solid #f2f2f2
}

.feedback span {
    cursor: pointer;
    text-decoration: underline;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease
}

.feedback span:hover {
    color: #e42324
}

.write-to-us {
    display: block;
    margin: auto;
    height: 48px
}

.write-to-us::before {
    font-family: FontAwesome, sans-serif;
    content: '\f040';
    font-size: 18px;
    padding-right: 10px;
    margin-left: -5px
}

.popup-write-to-us {
    max-width: 820px;
    left: calc(50% - 410px)
}

.form-write-to-us .row {
    margin-bottom: 15px
}

.down-load-file {
    margin-bottom: 45px
}

.down-load-file label {
    position: absolute;
    z-index: 1
}

.down-load-file input[type=file] {
    display: none;
    position: absolute;
    left: 71px;
    top: 10px
}

.down-load-file input[type=file]:focus {
    outline: 0
}

.down-load-file span {
    position: absolute;
    color: #555;
    left: 22%;
    top: 7px
}

#mobileheader .mobileheader-v2 .basket-link .count {
    background-color: #393185;
    color: #fff
}

.text-director {
    font-size: 13px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer
}

.text-director-popup {
    z-index: 100;
    left: calc(50% - 216.5px);
    top: calc(50% - 286px);
    -webkit-box-shadow: 0 0 20px 6px #868686;
    box-shadow: 0 0 20px 6px #868686
}

.text-director-popup-description {
    width: 90%;
    text-align: center;
    margin: 20px
}

.text-director-popup textarea {
    min-height: 120px
}

.description-list__item p, .text-director-popup span, .whybuy-block .whybuy li:before {
    display: none
}

.whybuy-block .whybuy {
    margin-top: 28px;
    padding: 0
}

.whybuy-block .whybuy li {
    list-style-type: none;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 0 gray;
    box-shadow: 1px 1px 3px 0 gray;
    background-image: url(https://formulamebeli.com/images/whybuy.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    width: calc(100% / 3 - 20px);
    padding: 16px 16px 16px 77px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 104px;
    display: inline-block;
    float: left;
    margin: 0 10px 20px;
    vertical-align: middle
}

.whybuy-block .whybuy li span {
    display: table-cell;
    vertical-align: middle;
    height: 73px
}

.whybuy-block .whybuy .wb_icon1 {
    background-position-y: 16px
}

.whybuy-block .whybuy .wb_icon2 {
    background-position-y: -104px
}

.whybuy-block .whybuy .wb_icon3 {
    background-position-y: -224px
}

.whybuy-block .whybuy .wb_icon4 {
    background-position-y: -344px
}

.whybuy-block .whybuy .wb_icon5 {
    background-position-y: -460px
}

.whybuy-block .whybuy .wb_icon6 {
    background-position-y: -580px
}

.whybuy-block--good h2 {
    margin-top: 0
}

.whybuy-block--good .whybuy li {
    content: ''
}

.static_banner span {
    background-image: url(/bitrix/templates/aspro_next/images/c40fd0c6758861c9d6dc17d4da0dcfc3.jpg);
    display: block;
    height: 150px
}

.news-list1 .news-item1 {
    float: none;
    width: 17%;
    margin: 0 0 30px;
    display: inline-block;
    font-size: 16px
}

#bx-soa-order .form-control {
    border: 1px solid #000 !important
}

.static-page {
    width: 100%
}

.actions-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.actions-block .catalog_item .inner_wrap {
    min-height: 345px
}

.actions-block__item {
    position: relative;
    width: 20%
}

.actions-block__item:nth-child(n+6) .inner_wrap {
    border-top: none !important
}

.actions-block__item:hover, body .tabs_slider .catalog_item .inner_wrap {
    min-height: 321px
}

.actions-block__item:hover .inner_wrap {
    position: absolute !important;
    width: 100% !important
}

.counter_wrapp .one_click {
    margin-left: 10px
}

.info_item .middle_info .buy_block .counter_wrapp > div {
    width: auto
}

.js-installment {
    border: 0;
    text-align: left;
    padding-left: 0
}

.js-installment .installment-text {
    font-size: 13px;
    border-bottom: 1px dotted;
    color: #555
}

.js-installment i {
    font-size: 16px
}

.js-installment:hover {
    color: #e42324
}

.popup .img-close i {
    background: 0 0
}

.popup .popup-image {
    padding: 0
}

.popup .popup-image img {
    width: 100%;
    max-height: 700px
}

.assembly {
    margin-top: 35px
}

.about_icon_title {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px
}

.about_icon_column_container .about_icon_column {
    float: left;
    width: 33.33%
}

.make-order #purchase.white {
    color: #fff !important;
    background: #393185 !important
}

.make-order #purchase.white:hover {
    color: #393185 !important;
    background: #fff !important
}

#mobile-btns-group .buttons-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 310px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#mobile-btns-group .callback-block {
    margin: 0;
    height: 48px;
    line-height: 25px
}

#mobile-btns-group .callback-block.btn-lg {
    padding: 9px 16px 10px
}

#mobile-btns-group .text-director {
    margin-left: 15px;
    color: #fff
}

.time-delivery-article {
    color: #e42324;
    margin-top: -15px;
    font-size: 13px
}

#bx-soa-order #bx-soa-orderSave .license-block-order, #bx-soa-total .bx-soa-cart-total .bx-soa-cart-total-line .bx-soa-cart-t {
    text-align: left
}

#bx-soa-order #bx-soa-orderSave .license-block-order label {
    display: inline;
    padding-top: 2px
}

#bx-soa-order #bx-soa-orderSave .license-block-order a {
    display: inline;
    color: #222;
    font-size: 13px;
    padding-left: 0
}

#time_to_deliver_first, #time_to_deliver_second, .checker-input {
    margin: 4px 4px 0;
    font-size: 18px
}

.checker-container:nth-child(2) {
    margin-top: 5px
}

.checker-container:not(:nth-child(2)) {
    margin-bottom: 5px
}

.line_block .share_wrapp .shares {
    opacity: 1 !important;
    visibility: visible;
    display: block
}

.line_block .share_wrapp {
    background: #f2f2f2;
    padding: 6px 54px 1px 10px
}

.page-top .line_block .share_wrapp:not(:hover) {
    padding-right: 40px
}

.fa-university::before {
    content: " " !important;
    display: block;
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background: url(/images/rassrochka3.png) no-repeat center
}

#reviews_content {
    display: none !important
}

#bx-soa-total {
    padding: 0;
    position: relative;
    z-index: 2
}

#bx-soa-total .bx-soa-cart-total-ghost {
    padding-top: 0 !important
}

#bx-soa-total .bx-soa-cart-total-bottom {
    opacity: 1
}

#bx-soa-total .bx-soa-cart-total-fixed {
    position: relative;
    top: 0
}

#bx-soa-total .change_basket {
    position: relative;
    font-size: 20px !important;
    text-align: left;
    font-weight: 700 !important;
    padding: 2px 29px 37px 80px !important
}

#bx-soa-total .change_basket::before {
    content: "";
    position: absolute;
    left: 33px;
    top: -3px;
    margin: 0;
    width: 30px;
    height: 30px;
    background: url(/bitrix/templates/aspro_next/images/order.png) 0 0 no-repeat;
    background-color: #52c200;
    background-position: -30px -30px !important
}

#bx-soa-total .change_link {
    padding: 0 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #393185 !important
}

.offer-name {
    font-size: 1em;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0
}

.description-list {
    list-style: none;
    max-width: 50%;
    width: 100%;
    margin: 15px 0 0 5px !important
}

.description-list__item {
    display: block;
    width: inherit;
    overflow: hidden
}

.description-list__item::after {
    position: absolute;
    bottom: 6px;
    content: ' ';
    width: 100%;
    border-bottom: 1px dotted #555;
    display: block;
    clear: both;
    line-height: 0;
    height: 0
}

.description-list__item b, .description-list__item span {
    position: relative;
    z-index: 2;
    background: #fff
}

.description-list__item b {
    display: block;
    float: left
}

.description-list__item span {
    display: block;
    float: right
}

.description-list__item::before {
    content: ''
}

.prices_block__item {
    border-bottom: 1px dashed #f2f2f2;
    padding: 5px 0 10px;
    margin-bottom: 10px
}

.prices_block__item .price-value {
    width: 35%;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #222;
    vertical-align: baseline;
    text-align: right
}

.cart-added {
    margin-left: 10px
}

.cart-added, .counter_wrapp .button_block.wide {
    display: inline-block
}

.catalog_detail .info_item .middle_info .prices .sale_block {
    margin-bottom: 0;
    margin-top: 20px
}

.catalog_detail .with_matrix, .cost.prices .with_matrix {
    padding-bottom: 0
}

.quantity_block_wrapper {
    padding: 0 0 10px
}

.models {
    font-size: 16px;
    font-weight: 700;
    color: #222;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    cursor: pointer
}

.models::after {
    font-family: FontAwesome, sans-sarif;
    content: '\f107';
    padding-left: 5px;
    position: relative;
    top: 3px
}

.models--opened, .models:hover {
    color: #9e1414
}

.models--opened::after {
    content: '\f106';
    top: 1px
}

.btn.btn-default.in-cart {
    background: #049540;
    border-color: #049540
}

.delivery-catalog {
    margin-top: 10px
}

.delivery-catalog__item {
    margin-bottom: 5px
}

.delivery-catalog__item .image {
    width: 20px;
    height: 20px;
    margin-right: 10px
}

.delivery-catalog__item .description a {
    color: #36aeff;
    text-decoration: underline
}

.btn-lg {
    padding: 9px 12px 10px
}

.detail-map {
    margin-top: -45px !important
}

.detail-map + .ajax_items {
    margin-bottom: 45px;
    border: 1px solid #f2f2f2;
    padding: 5px
}

.detail-map-city-select {
    position: relative;
    padding: 0;
    top: 30px;
    z-index: 10;
    width: 250px;
    margin: 0
}

.detail-map-city-list {
    margin-top: 23px;
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 40px;
    border-top: 1px solid #f2f2f2
}

.detail-map-city-list::-webkit-scrollbar {
    width: 10px
}

.detail-map-city-list::-webkit-scrollbar-track {
    height: 50px;
    background-color: #f2f2f2
}

.detail-map-city-list::-webkit-scrollbar-thumb {
    background-color: #393185;
    outline: 1px solid #708090
}

.detail-map-city-list__header {
    padding-left: 15px
}

.detail-map-city-list__item {
    border-bottom: 1px solid #f2f2f2;
    padding: 0 0 10px 15px;
    margin-bottom: 10px
}

.detail-map-city-list__item .title {
    margin: 0 0 10px
}

.detail-map-city-list__item .title .btn-inline {
    white-space: normal
}

.detail-map-city-list__item .phone {
    margin-top: 10px
}

.detail-map-city-list h5 {
    margin: 10px 0
}

.detail-map-city-list .icon-text.grey {
    display: block;
    white-space: normal;
    padding: 0 11px;
    height: auto
}

.counter_block_new {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f3f3f5;
    background: #f3f3f5;
    font-size: 0;
    width: 84px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 36px
}

.counter_block_new.big_basket {
    width: 122px;
    text-align: center;
    height: auto
}

.counter_block_new input[type=text] {
    width: 34px;
    border: 0;
    border-left: 1px solid #f3f3f5;
    border-right: 1px solid #f3f3f5;
    background: #f3f3f5;
    color: #666;
    font-size: 13px;
    height: 34px;
    border-radius: 0;
    text-align: center;
    line-height: 13px;
    padding: 7px 3px
}

.flexslider .counter_block_new input[type=text] {
    width: 34px
}

.bx-firefox .counter_block_new input[type=text] {
    padding-top: 7px
}

.counter_block_new.big_basket input[type=text] {
    font-size: 13px;
    height: 38px;
    width: 65px
}

.counter_block_new .minus, .counter_block_new .plus {
    font-size: 0;
    line-height: 40px;
    height: 34px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top
}

.counter_block_new.big_basket > span {
    height: 34px;
    width: 28px
}

.module_product_list .counter_block_new .minus, .module_product_list .counter_block_new .plus {
    height: 24px;
    width: 24px
}

.counter_block_new > span:before {
    opacity: .7;
    display: inline-block;
    content: "";
    width: 24px;
    height: 34px;
    background: url(/bitrix/templates/aspro_next/images/ai.png) -80px -191px no-repeat;
    vertical-align: middle
}

.counter_block_new.big_basket > span.minus:before {
    background-position: -18px -189px
}

.counter_block_new.big_basket > span.plus:before {
    background-position: 1px -189px
}

.counter_block_new > span.plus:before {
    background-position: -54px -191px
}

.counter_block_new > span:hover:before {
    opacity: 1
}

.counter_wrapp {
    font-size: 0;
    padding: 15px 0 0;
    white-space: nowrap
}

.counter_wrapp .counter_block_new {
    margin: 0 10px 0 0
}

.button_block {
    display: inline-block;
    vertical-align: top
}

.certificates-slider {
    position: relative
}

.certificates-slider .flex-active {
    background: #393185
}

.certificates-slider a {
    background: #222
}

.certificates-slider .flex-nav-next, .certificates-slider .flex-nav-prev {
    position: absolute;
    top: calc(50% - 17.5px);
    color: #fff !important;
    background: #5b53ac
}

.certificates-slider .flex-nav-next {
    right: 0
}

.certificates-slider .flex-nav-prev {
    left: 0
}

.certificates-slider .flex-control-paging {
    margin: auto;
    text-align: center;
    padding-right: 30px
}

.certificates-slider .slides li img {
    width: inherit;
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.faq, .faq-list {
    padding-left: 15px
}

.faq {
    border-bottom: 1px solid #f2f2f2
}

.faq-list {
    display: none
}

.faq-list__item {
    cursor: pointer
}

.faq-list__item blockquote {
    margin: 15px 0;
    display: none
}

.faq-list__item:hover {
    color: #e42324
}

.faq .h3 {
    margin: 0;
    line-height: 66px;
    cursor: pointer
}

.faq:first-child {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2
}

@media (max-width: 1460px) {
    .jqmOverlay {
        overflow-y: auto
    }

    .popup-write-to-us {
        position: absolute;
        top: 0 !important
    }
}

@media (max-width: 1150px) {
    .whybuy-block .whybuy li {
        width: calc(100% / 2 - 20px)
    }
}

@media (max-width: 794px) {
    #mobile-btns-group {
        display: block !important
    }

    #mobile-btns-group .buttons-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        width: 100%
    }

    #mobile-btns-group .callback-block {
        margin: 15px 0 5px;
        height: 48px;
        line-height: 25px
    }

    #mobile-btns-group .callback-block.btn-lg {
        padding: 9px 16px 10px
    }

    #mobile-btns-group .text-director {
        color: #fff;
        margin-left: 0
    }

    .text-director-popup {
        max-width: 90%;
        position: fixed;
        top: 10px;
        left: 5%;
        width: 100%;
    }

    .text-director-popup .form_head h2 {
        font-size: 20px
    }

    .about_icon_column_container {
        text-align: center
    }

    .about_icon_column_container .about_icon_column {
        float: none;
        width: 100%
    }

    .about_icon_column_container .about_icon_column .about_icon_image {
        width: 128px;
        display: block;
        margin: auto
    }

    .whybuy-block .whybuy li {
        font-size: 14px;
        height: auto
    }

    .wrapper_inner .info_item .middle_info .buy_block .counter_wrapp {
        padding: 0;
        width: 100%
    }

    .wrapper_inner .info_item .middle_info .buy_block .counter_wrapp .button_block.wide {
        width: auto
    }

    .wrapper_inner .info_item .middle_info .buy_block .counter_wrapp .one_click {
        display: block;
        width: 160px;
        margin-left: -82%;
        margin-top: 20px;
        margin-bottom: -10px
    }

    .description-list {
        max-width: 97%;
        margin: 10px 0 0 5px !important
    }

    .description-list__item {
        padding: 0;
        padding-left: 0 !important
    }

    .detail-map-city-select {
        top: 50px
    }

    .title .btn-inline {
        white-space: normal
    }

    .static-page img {
        width: 100%;
        height: auto
    }

    .jqmOverlay {
        overflow-y: auto
    }

    .popup-write-to-us {
        position: absolute;
        top: 0 !important;
        left: 2.5%;
        width: 95%
    }

    .down-load-file span {
        left: auto;
        right: 3%;
        font-size: 14px
    }

    .news-list1 .news-item1 {
        float: none;
        width: 49%;
        margin: auto
    }

    .news-list1 .news-item1 a {
        width: 100%
    }

    .news-list1 .news-item1 a img {
        display: block;
        margin: auto
    }

    .news-list1 .news-item1 .news-item2 a {
        display: block;
        width: 100%
    }

    .news-list1 .news-item1 .news-item2 a b {
        display: block;
        width: inherit;
        text-align: center
    }

    .line_block .share_wrapp .shares {
        display: none
    }
}

@media (max-width: 672px) {
    .whybuy-block .whybuy li {
        font-size: 13px;
        padding-left: 70px;
        background-position-x: 0
    }
}

@media (max-width: 620px) {
    .whybuy-block .whybuy li {
        width: calc(100% / 1 - 20px);
        font-size: 17px
    }
}

@media (max-width: 325px) {
    .whybuy-block .whybuy li {
        font-size: 14px;
        background-position-x: 0
    }
}
.cheaper_form{
  color: red!important;
}