.mc-rate {
    display: none;
}
.credit__button {
    display: inline-block;
    height: 39px;
    cursor: pointer !important;
}
.credit__modal {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 2.5rem;
    border: 3px solid rgb(59, 190, 100);
}
.credit__modal-img-wrap {
    margin-bottom: 20px;
}
.credit__modal-text-main {
    color: #000;
}
.credit__modal-text-additional {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: left;
}
.credit__modal-link {
    background-color: #3bbe63 !important;
    border-color: #3bbe63 !important;
}