.slide{
	display: none;
	outline: none;
}
.slide:first-child{
	display: block;
}
.slide.slick-slide{
	display: block;
}
.slick-dots{
	bottom: -50px;
}
.slick-dots li button:before{
	content:''!important;
}
ul li.slick-active:before, ol li.slick-active:before{
	font-size: 20px;
}
.slide img{
	width: 100%;
	max-width: 1600px;
	margin: auto;
}
#promo-slider .slick-prev, #promo-slider .slick-next{
	z-index: 1;
	width: 44px;
	height: 88px;
}
@media screen and (max-width: 980px) {
	#promo-slider .slick-prev, #promo-slider .slick-next{
		height: 44px;
	}
}
#promo-slider .slick-prev:before, #promo-slider .slick-next:before{
	position: absolute;
	top: 0;
	width: inherit;
	height: inherit;
	color: transparent;
    -webkit-background-size: 44px 88px;
    -moz-background-size: 44px 88px;
    background-size: 44px 88px;
	background-position: 50% 50%;
    background-repeat: no-repeat;
}
#promo-slider .slick-prev:before{
	background-image: url('images/arrow-left.png');
	left: -11px;
}
#promo-slider .slick-next:before{
	background-image: url('images/arrow-right.png');
	right: -11px;
}

.promo-pdf{
	width: 100%;
	text-align: right;
	margin-top: 20px;
}