.bx-sap, .sale-personal-section-account-sub-header {
	display: none !important;
}
.sale-acountpay-block { margin-bottom: 10px; }

.sale-acountpay-title { font-size: 14px; }

.sale-acountpay-fixedpay-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	background: #d1ecf0;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	color: #000;
	font-size: 13px;
	min-width: 55px;
	border-radius: 2px;
	margin-bottom: 5px;
	padding: 0 9px;
	-webkit-transition: background 300ms ease;
	   -moz-transition: background 300ms ease;
		-ms-transition: background 300ms ease;
		 -o-transition: background 300ms ease;
			transition: background 300ms ease;
}

.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item:hover {
	background: #d1e6f0;
}

.bx-sap .control-label.input-lg {
	font-weight: normal;
	font-size: 14px;
	line-height: 29px;
	vertical-align: middle;
}

/*pay*/
.sale-acountpay-pp-company {
	padding-bottom: 20px;
	z-index: 100;
	position: relative;
}

.sale-acountpay-pp .sale-acountpay-pp-company {
	padding: 7px;
	border: 1px solid transparent;
	-webkit-transition: all 100ms ease;
	   -moz-transition: all 100ms ease;
		-ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
			transition: all 100ms ease;
}

.sale-acountpay-pp-company-graf-container {
	border: 2px solid #c3cace;
	border-radius: 2px;
	position: relative;
	background: #fff;
	width: auto;
	height: 0;
	padding-top: 50%;
}

.sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf-container { border-color: #159ebb; }

.sale-acountpay-pp-company.bx-error .sale-acountpay-pp-company-graf-container { border-color: #db4a29; }

.sale-acountpay-pp-company.bx-warning .sale-acountpay-pp-company-graf-container { border-color: #ccbe71; }

input[type=checkbox].sale-acountpay-pp-company-checkbox {
	position: absolute;
	top: 7px;
	left: 7px;
	margin: 0;
	padding: 0;
	z-index: 100;
}

.sale-acountpay-pp-company-image {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.sale-acountpay-pp-company-smalltitle {
	padding-top: 9px;
	color: #a3a3a3;
	font-size: 11px;
	text-align: center;
	padding-bottom: 5px;
}

.sale-acountpay-pp-company-title {
	font-size: 19px;
	font-weight: bold;
}

.sale-acountpay-pp-company-selected { padding: 4px 0; }

ul.sale-acountpay-pp-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
	color: #000;
}

ul.sale-acountpay-pp-list li {
	clear: both;
	padding: 5px 0;
}

.sale-acountpay-pp-list-termin {
	color: #8d8d8d;
	display: block;
}

.sale-acountpay-pp-list-description { display: block; }

.sale-acountpay-pp-delivery-cost {
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	padding: 2px 4px;
	right: -2px;
	bottom: -2px;
	border-radius: 1px;
	background: rgba(0,0,0,.5);
}

.sale-acountpay-pp-field .form-control { background: #fff; }

.sale-acountpay-pp-price {
	text-align: right;
	padding: 4px 0;
}

.sale-acountpay-service-small {
	color: #a3a3a3;
	font-size: 11px;
}

@media (min-width: 1200px) {
	.sale-acountpay-pp div .sale-acountpay-pp-company:nth-child(4n+1),
	.sale-acountpay-pp-item-container .sale-acountpay-pp-company:nth-child(4n+1) {
		clear: both;
		padding-left: 0;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.sale-acountpay-pp div .sale-acountpay-pp-company:nth-child(3n+1),
	.sale-acountpay-pp-item-container .sale-acountpay-pp-company:nth-child(3n+1) {
		clear: both;
		padding-left: 0;
	}
}
@media (max-width: 767px) {
	.sale-acountpay-pp,
	.sale-acountpay-pp-item-container { max-width: 300px; }
	.sale-acountpay-pp div .sale-acountpay-pp-company:nth-child(2n+1),
	.sale-acountpay-pp-item-container .sale-acountpay-pp-company:nth-child(2n+1) {
		clear: both;
		padding-left: 0;
	}
}


#loading_screen {
	position: fixed;
	z-index: 1150;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	width: 64px;
	height: 64px;
}

.sale-acountpay-input {
	text-align: right;
}

.btn.sale-account-pay-button {
	padding: 0 28px;
	height: 38px;
	border: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #70bb18;
	font: bold 13px/38px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
}

.btn.sale-account-pay-button:hover {
	background: #7bd314;
	color: #fff;
	-webkit-transition: background ease-out 0.5s;
	-moz-transition: background ease-out 0.5s;
	transition: background ease-out 0.5s;
}